.friendsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  h1 {
    width: 80%;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .profile {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
      width: 24%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4vh;
      .innerCard {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
        }
        h4 {
          font-size: 20px;
          &:hover {
            color: #4d84e2;
            cursor: pointer;
          }
        }
        p {
          width: 100%;
          font-size: 10px;
          font-weight: 400;
          color: rgba(128, 128, 128, 0.527);
          text-align: center;
          margin-top: -10px;
        }
        .followContainer {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 12px;
          .follow {
            text-align: center;
            h4 {
              font-size: 16px;
            }
            h6 {
              font-size: 14px;
              color: gray;
              margin-top: -10px;
            }
          }
        }
      }
    }
  }
}
